* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/418/848/880/vasco-vasco-da-gama-cross-soccer-hd-wallpaper-preview.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

main {
  padding: 2rem;
}


header {
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}

header h1 {
  text-align: center;
  margin-bottom: 10px;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 8px;
  transition: background 0.3s ease;
}

nav a:hover {
  background: #b22222;
}

main {
  margin: 20px 0;
  display: grid;
  gap: 20px;
}

section {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

section img {
  display: block;
  margin: 15px auto;
  border-radius: 12px;
}

footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
}

footer a {
  color: #b22222;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  body {
    padding: 1rem;
  }
}